body{
	background-color:#6d7993;
}
.header{
	backGround-color:#96858f;
	margin-top:opx;
	border: 3px solid black;
	margin-bottom: 45px;
}
h1{
	text-align:center;
	padding-bottom: 50px;
	padding-top: 50px;
}
button{
	background-color:#d5d5d5;
	
}
.display{
	display: flex;
	justify-content: space-around;
}
.plus{
	display: flex;
	justify-content: center;
}
