<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>RPN</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="header">
	<h1>Reverse Polish Notation Calculator</h1>
	</div>
	<div class="display">
		<form method="post" action="/enter">
			<div>
				<input type="number" step="any" name="value" autofocus required>
			</div>
			
			<div>
				<button>Enter</button>
			</div>
		</form>
		<div>
		<div>
			<form class="abs" method="post" action="/abs">
				<button>abs</button>
			</form>
		</div>
		<div> 
 			<form method="post" action="/clear"> 
 				<button>Clear</button> 
 			</form> 
		</div> 
		</div>
		{{#hasTwoOrMoreNumbers}}
		<div class="allButtons">
			<div>
				<form class="plus" method="post" action="/addition">
					<button>+</button>
				</form>
			</div>
			<div>
				<form class="minus" method="post" action="/subtraction">
					<button>-</button>
				</form>
			</div>
			<div>
				<form class="divide" method="post" action="/divide">
					<button>/</button>
				</form>
			</div>
			<div>
				<form class="multiply" method="post" action="/multiply">
					<button>*</button>
				</form>
			</div>
			<div>
				<form class="pow" method="post" action="/pow">
					<button>^</button>
				</form>
			</div>
			<div> 
 			<form method="post" action="/swap"> 
 				<button>SWAP</button> 
 			</form> 
 			</div> 
			
		</div>
		{{/hasTwoOrMoreNumbers}}
		{{#hasThreeOrMoreNumbers}} 
		<div> 
 			<form method="post" action="/rotate"> 
 				<button>Rotate</button> 
 			</form> 
 		</div> 
 		{{/hasThreeOrMoreNumbers}} 
		
		{{#hasUndoer}}
			<div>
				<form class="undo" method="post" action="/undo">
					<button class="Undo">Undo</button>
				</form>
			</div>
			{{/hasUndoer}}
			
			{{#hasRedoer}}
			<div>
				<form class="redo" method="post" action="/redo">
					<button class="Redo">Redo</button>
				</form>
			</div>
			{{/hasRedoer}}
		<div class="list">

			<h2>Stack</h2>


			<ol>
				{{#stack}}
				<li>{{ . }}</li> {{/stack}}
			</ol>
		</div>
</body>
</html>